<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DigiMarket</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginAdmin</display-name>
    <servlet-name>LoginAdmin</servlet-name>
    <servlet-class>com.rohit.services.LoginAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdmin</servlet-name>
    <url-pattern>/LoginAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginFarmer</display-name>
    <servlet-name>LoginFarmer</servlet-name>
    <servlet-class>com.rohit.services.LoginFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginFarmer</servlet-name>
    <url-pattern>/LoginFarmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterFarmer</display-name>
    <servlet-name>RegisterFarmer</servlet-name>
    <servlet-class>com.rohit.services.RegisterFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterFarmer</servlet-name>
    <url-pattern>/RegisterFarmer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductsForSale</display-name>
    <servlet-name>AddProductsForSale</servlet-name>
    <servlet-class>com.rohit.services.AddProductsForSale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductsForSale</servlet-name>
    <url-pattern>/AddProductsForSale</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginBuyer</display-name>
    <servlet-name>LoginBuyer</servlet-name>
    <servlet-class>com.rohit.services.LoginBuyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginBuyer</servlet-name>
    <url-pattern>/LoginBuyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterBuyer</display-name>
    <servlet-name>RegisterBuyer</servlet-name>
    <servlet-class>com.rohit.services.RegisterBuyer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterBuyer</servlet-name>
    <url-pattern>/RegisterBuyer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrder</display-name>
    <servlet-name>PlaceOrder</servlet-name>
    <servlet-class>com.rohit.services.PlaceOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrder</servlet-name>
    <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyersChangePassword</display-name>
    <servlet-name>BuyersChangePassword</servlet-name>
    <servlet-class>com.rohit.services.BuyersChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyersChangePassword</servlet-name>
    <url-pattern>/BuyersChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FarmerChangePassword</display-name>
    <servlet-name>FarmerChangePassword</servlet-name>
    <servlet-class>com.rohit.services.FarmerChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FarmerChangePassword</servlet-name>
    <url-pattern>/FarmerChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBuyerByAdmin</display-name>
    <servlet-name>AddBuyerByAdmin</servlet-name>
    <servlet-class>com.rohit.services.AddBuyerByAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBuyerByAdmin</servlet-name>
    <url-pattern>/AddBuyerByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFarmerByAdmin</display-name>
    <servlet-name>AddFarmerByAdmin</servlet-name>
    <servlet-class>com.rohit.services.AddFarmerByAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFarmerByAdmin</servlet-name>
    <url-pattern>/AddFarmerByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProductByAdmin</display-name>
    <servlet-name>AddProductByAdmin</servlet-name>
    <servlet-class>com.rohit.services.AddProductByAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductByAdmin</servlet-name>
    <url-pattern>/AddProductByAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductDetailsByFarmer</display-name>
    <servlet-name>UpdateProductDetailsByFarmer</servlet-name>
    <servlet-class>com.rohit.services.UpdateProductDetailsByFarmer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductDetailsByFarmer</servlet-name>
    <url-pattern>/UpdateProductDetailsByFarmer</url-pattern>
  </servlet-mapping>
</web-app>